{% extends 'bootstrap/base.html.twig' %}

{% block body %}

{# Título desta páxina #}
<h1>{{ title }}</h1>

    <div>
        Benvid@ á miña biblioteca de libros!
    </div>
  </body>
</html>

{% endblock %}

