<h1>{{ title }}</h1>

{# Comentario #}
{% if produtos != null %}

    a

    <ul>
    {% for produto in produtos %}

        <li>{{ produto }} </li>

    {% endfor %}
    </ul>

    {% else %}

        b
    

{% endif %}